Package: enigma2-plugin-skins-kravenhd
Version: 7.5.2
Section: misc
Priority: optional
Architecture: all
Depends: python-imaging, python-subprocess, python-requests, python-lxml, enigma2-plugin-systemplugins-mphelp
Maintainer: Team Kraven
Description: Skin for Enigma2
Source:
