Package: enigma2-plugin-skins-kravenhd
Version: 7.9.28
Section: misc
Priority: optional
Architecture: all
Depends: enigma2-plugin-systemplugins-mphelp, python3-pillow, python3-requests
Maintainer: Team Kraven
Description: Skin for Enigma2
Source:
